@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts/scss/fonts.scss';
@import './fonts/scss/icons.scss';

body {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // *  Not necessarily. Font weight value goes in tailwind classes and sets here. It's default value
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
